<style>
    .footer {
        text-align: right;
    }
    .footer a {
        display: inline-block;
    }
    .footer img {
        width: auto; /* Optional: Adjust image size as needed */
        height: 75px; /* Optional: Adjust image size as needed */
    }
</style>

<div class="footer">
    <a id="linkedin-share" href="https://www.linkedin.com/shareArticle?url=" onclick="window.open(this.href + window.location.href);return false;" target="_blank">
        <img src="/public/icons/linkedin-share.png" alt="LinkedIn">
    </a>
    <a id="x-share" href="https://twitter.com/share?url=" onclick="window.open(this.href + window.location.href);return false;" target="_blank">
        <img src="/public/icons/x-share.png" alt="X">
    </a>
</div>