<style>
    .footer {
        text-align: right;
    }
    .footer a {
        display: inline-block;
    }
    .footer img {
        width: auto; /* Optional: Adjust image size as needed */
        height: 75px; /* Optional: Adjust image size as needed */
    }
</style>

<div class="footer">
    <a id="linkedin-share" href="#" target="_blank">
        <img src="/public/icons/linkedin-share.png" alt="LinkedIn">
    </a>
    <a id="x-share" href="#" target="_blank">
        <img src="/public/icons/x-share.png" alt="X">
    </a>
</div>

<script>
    var linkedInBaseUrl = "https://www.linkedin.com/shareArticle?url="
    var xBaseUrl = "https://twitter.com/share?url="
    document.getElementById("linkedin-share").href = linkedInBaseUrl + window.location.href
    document.getElementById("x-share").href = xBaseUrl + window.location.href
</script>