---
import { common } from "~/config"

const {
  links: showLinks,
  custom,
  home,
  archive,
  about,
} = common.navigation as {
  home?: boolean
  archive?: boolean
  links?: boolean
  about?: boolean
  custom?: { label: string; link: string }[]
}
---

<nav
  class="mt-4 mb-10 flex gap-4 overflow-x-auto text-lg whitespace-nowrap [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
>
  {
    home && (
      <a
        href="/"
        class="hover:underline hover:underline-offset-4"
        aria-label="Home"
        title="Home"
      >
        Home
      </a>
    )
  }

  {
    archive && (
      <a
        href="/archive"
        class="hover:underline hover:underline-offset-4"
        aria-label="Archive"
        title="Archive"
      >
        Archive
      </a>
    )
  }

  {
    custom?.map((tab) => (
      <a
        href={tab.link}
        target="_blank"
        class="hover:underline hover:underline-offset-4"
        aria-label={tab.label}
        title={tab.label}
      >
        {tab.label}
      </a>
    ))
  }

  {
    showLinks && (
      <a
        href="/links"
        class="hover:underline hover:underline-offset-4"
        aria-label="Links"
        title="Links"
      >
        Links
      </a>
    )
  }

  {
    about && (
      <a
        href="/about"
        class="hover:underline hover:underline-offset-4"
        aria-label="About"
        title="About"
      >
        About
      </a>
    )
  }
</nav>
