---
import { common } from "~/config"
import { getPostsByLocale } from "~/utils"
import PostList from "./post-list.astro"

// Always English
const allPosts = await getPostsByLocale("en")
const posts = allPosts.slice(0, common.latestPosts)
---

<div class="my-8 text-xl font-medium md:my-8">Latest Posts</div>

{
  posts.map((post: any) => (
    <PostList post={post} dateFormat="YYYY-MM-DD" dateWidth="w-32" />
  ))
}
