---
import { common } from "~/config"
import "~/styles/twikoo.css"
---

<div id="tcomment"></div>

<script type="module">
  import twikoo from "twikoo"
  import { common } from "~/config"

  function initTwikoo() {
    twikoo({
      envId: common.comments.twikoo.envId,
      el: "#tcomment",
      lang: "en-GB",
    }).then(() => {
      console.log("Twikoo loaded successfully")
    })
  }

  initTwikoo()

  document.addEventListener("astro:page-load", () => {
    initTwikoo()
  })
</script>
